<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bortolan.iquadriv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ActivityMain"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".MyFileProvider"
            android:authorities="${applicationId}.getCache"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="252ed2b733dd81ce76fe61f583737b98a6b5eaf3" />

        <service
            android:name=".Services.CircolariNotification"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activities.ActivitySettings"
            android:theme="@style/AppTheme.Preferences" />
        <activity
            android:name=".Activities.ActivityOrario"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_orario"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Activities.ActivityArticle"
            android:label="@string/title_activity_article"
            android:theme="@style/AppTheme" />

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.ActivityLibriLogin"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Activities.ActivityAddBook"
            android:theme="@style/AppTheme.Preferences" />

        <service
            android:name=".Services.QDSNotification"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activities.ActivityImage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image"
            android:theme="@style/FullscreenTheme" />

        <receiver android:name=".Widget.WidgetOrario">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_orario_info" />
        </receiver>

        <activity android:name=".Activities.IntentFilter.ActivityChooseOrario" />
    </application>

</manifest>